

#section3{
    position: relative;
    height: 500vw;
    width: 100%;
    display: flex;
    background-color: pink;
   
}

.section3Alpha{
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    transition: 0.3s ease-in-out;
  
}

.dragonFly{
    position: absolute;
    top: 10px;
    left: 10px;
}

.musicColor{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.section3Alpha::before{
    position: absolute;
    top: 0;
    background-color: pink;
    content: " ";
    height: 90%;
    width: 100%;
    mask-image: linear-gradient(to bottom, pink, transparent 100%);


}

.section3Div1{
    height: 70%;
    width: 500vw;
    /* border: 2px solid black; */

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section3Img{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.section3Div2{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.section3Txt{
    font-family: "Poiret One", sans-serif;
    font-size: 5vw;
    width: 80%;
    color: pink;
    text-align: center;
 

}

@media (max-width:450px) {
    .section3Txt{
        font-size: 30px;
    }
    
}