
.section4{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.singleFlower{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.butterfly{
    position: absolute;
    top: 10px;
    right: 10px;

}



.section4Div1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section4Txt{
    font-family: "Poiret One", sans-serif;
    font-size: 5vw;
    width: 90%;
    color: pink;
    text-align: center;

}

.section4Div2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
 
}

.section4Img{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width:850px) {
    .section4{
        height: 100vh;
        flex-direction: column;
    }

    .section4Div1{
        height: 50%;
        width: 100%;
        align-items: flex-end;

    }

    .section4Div2{
        height: 50%;
        width: 100%;
        /* border: 2px solid black; */

    }

}

@media (max-width:450px) {
    .section4Txt{
        font-size: 30px;
    }
    
} 

