
.section1{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: pink;
    overflow: hidden;
    position: relative;
}

.musicPlayer1{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 12;
    
 
}

.musicPlayer2{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 11;
     
}

.musicPlayer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
   
}

.disk1{
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

.disk2{
    border: 2px solid black;
    height: 100px;
    width: 100px;

}



.section1Div1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section1Txt{
    font-family: "Poiret One", sans-serif;
    font-size: 5vw;
    width: 90%;
    color: white;
    text-align: center;

}

.section1Div2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
 
}

.section1Img{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

@media (max-width:850px) {
    .section1{
        height: 120vh;
        flex-direction: column;
    }

    .section1Div1{
        height: 30%;
        width: 100%;
        align-items: flex-end;

    }

    .section1Div2{
        height: 70%;
        width: 100%;
        /* border: 2px solid black; */

    }

}

@media (max-width:450px) {
    .section1Txt{
        font-size: 30px;
    }
    
} 

